.card {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    width: 500px;
    overflow-x: hidden;
}

.card-text {
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

.card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18pt;
}

#song-title {
    width: 470px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#song-artist {
    width: 470px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-stack {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.logo {
    position: absolute;
    display: inline-block;
    width: 100vw;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 10px;
}

html, body {
    margin: 0;
    padding: 0;
}

#bkg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(77,207,0);
    background: linear-gradient(180deg, hsl(98, 100%, 41%) 0%, hsl(164, 99%, 40%) 50%, hsl(219, 81%, 49%) 100%);
    z-index: -100;
    animation: 10s hue infinite;
}

.spotify-login {
    float: right;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(24, 151, 45);
    color: white;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 7px;
    margin-right: 7px;
}

.logo-img {
    margin-left: 7px;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(30deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}

.controller {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.buttons {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}

.buttons > button {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 6px white solid;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-size: cover;
}
.buttons > button.disabled {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 6px #a5a5a5 solid;
    background-color: #a5a5a5 !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nope {
    background-image: url(assets/nope_button.png);
}

.play {
    background-image: url(assets/play_button.png);
}
.play.playing {
    border: 6px #00c445 solid !important;
    background-color: #00c445 !important;
    background-image: url(assets/play_button_active.png) !important;
}

.like {
    background-image: url(assets/like_button.png);
}

.back {
    background-image: url(assets/rewind_button.png);
}
.back.disabled {
    background-image: url(assets/rewind_button_disabled.png) !important;
}

.feed {
    display: inline-block;
}

.view-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 62px);
}