/* Player card */

.card-stack {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.card {
    color: white;
    background-color: #1d1d1d;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    overflow-x: hidden;
}

@media all and (orientation: portrait) {
    .card {
        width: 75vw;
    }

    #cover {
        width: 75vw;
        height: 60vh;
    }
}

@media all and (orientation: landscape) {
    .card {
        width: 60vw;
    }

    #cover {
        width: 60vw;
        height: 50vh;
    }
}


#cover {
    background-size: cover;
    background-position: center;
}

.card-text {
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

.card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

#song-title {
    width: 470px;
    font-size: 4vmin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Fjalla One', "Poppins", sans-serif;
}

#song-artist {
    width: 470px;
    font-size: 2.5vmin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Controller + Buttons */

.controller {
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
}

.buttons {
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
}

.buttons > button {
    border-radius: 50%;
    width: 10vmin;
    height: 10vmin;
    border: 1vw #1d1d1d solid;
    background-color: #1d1d1d;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.buttons > button.disabled {
    border: 1vw #a5a5a5 solid;
    background-color: #a5a5a5 !important;
}

/* Specific buttons */

.nope {
    background-image: url(/assets/nope_button.png);
}

.play {
    background-image: url(/assets/play_button.png);
}
.play.playing {
    border: 6px #00c445 solid !important;
    background-color: #00c445 !important;
    background-image: url(/assets/play_button_active.png) !important;
}

.like {
    background-image: url(/assets/like_button.png);
}

.back {
    background-image: url(/assets/rewind_button.png);
}
.back.disabled {
    background-image: url(/assets/rewind_button_disabled.png) !important;
}